<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel=stylesheet type="text/css" href="/styles/style.css">
</head>

<div id="app" style="text-align: center">
    <span class="subtitle">Dołącz do grup, aby brać udział w aktywnościach lub stwórz swoją</span>
    <p class="group">
        <router-link to="/group" class="btn">Stwórz nową grupę</router-link>
    </p>
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view></router-view>
</div>

<template id="group-template">
    <div>
        <div class="group-content">
            <span>Tworzenie nowej grupy</span>

            <div>
                <span>Nazwa grupy:</span>
                <input id="nazwa" type="text" name="nazwa"/>
            </div>
            <div>
                <span>Opis grupy:</span>
                <input id="opis" type="text" name="opis"/>
            </div>
        </div>

        <button onclick="saveBasicGroupData()">Dalej</button>
    </div>
</template>

<template id="group-template2">
    <div class="group-content">
        <span class="center">Tworzenie nowej grupy</span>

        <div>
            <span>Lokalizacja:</span>
            <input id="lokalizacja" type="text" name="lokalizacja"/>
        </div>
        <div>
            <span>Adres zdjęcia:</span>
            <input id="zdjecie" type="text" name="zdjecie"/>
        </div>

        <button onclick="saveGroupData()">Dalej</button>
    </div>
</template>

<template id="group-template3">
    <div class="group-content">
        <span class="nazwa"></span>
        <span class="opis"></span>
        <span class="autor"></span>

        <div><a href="">Wydarzenia</a></div>
        <div><a href="">Edytuj grupę</a></div>
        <div><a href="">Zaproś znajomych</a></div>

    </div>
</template>

<script>

    const Group = { template: '#group-template' }
    const Group2 = { template: '#group-template2'}
    const Group3 = { template: '#group-template3'}

    const routes = [
        { name: 'group', path: '/group', component: Group},
        { name: 'group2', path: '/group2', component: Group2},
        { name: 'group3', path: '/group3', component: Group3}
    ]

    const router = new VueRouter({
        routes // short for `routes: routes`
    })

    const app = new Vue({
        router
    }).$mount('#app')


    function saveBasicGroupData() {
        var nazwa = $("#nazwa").val()
        var opis = $("#opis").val()

        app.$router.push({name: 'group2', params: {nazwa: nazwa, opis: opis}})
    }

    function saveGroupData() {
        var lokalizacja = $("#lokalizacja").val()
        var zdjecie = $("#zdjecie").val()

        $.post("/group/create", {name: app.$route.params.nazwa, description: app.$route.params.opis,
            location: lokalizacja, photo: zdjecie}).done(function(data) {
                app.$router.push({name: 'group3', params: {id: data.id}}, function() {
                    setTimeout(() => { // setTimeout to put this into event queue
                        $('.nazwa').text(data.name)
                        $('.opis').text(data.description)
                        $('.autor').text(data.admin.emailAdress)
                    }, 0)
                });
        });
    }


</script>
</html>