<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<div id="app">
    <h1>Spokolenie</h1>
    <p>
        <router-link to="/group">Stwórz nową grupę</router-link>
    </p>
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view></router-view>
</div>

<template id="group-template">
<span>Tworzenie nowej grupy</span>
</template>

<script>

    const Group = { template: '#group-template' }
    const Group2 = { template: '/html/group.html' }
    const Group3 = { template: '/html/group.html' }

    const routes = [
        { path: '/group', component: Group },
        { path: '/group2', component: Group2 }
    ]

    const router = new VueRouter({
        routes // short for `routes: routes`
    })

    const app = new Vue({
        router
    }).$mount('#app')


</script>
</html>