<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>#SPOKOLENIE</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/styles/materialize.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">

    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>

    <link rel="manifest" href="/manifest.json">

<!--    &lt;!&ndash; Add to home screen for Safari on iOS &ndash;&gt;-->
<!--    <meta name="apple-mobile-web-app-capable" content="yes">-->
<!--    <meta name="apple-mobile-web-app-status-bar-style" content="black">-->
<!--    <meta name="apple-mobile-web-app-title" content="Template PWA">-->
<!--    <link rel="apple-touch-icon" href="/app/images/icons/icon-152x152.png">-->
<!--    &lt;!&ndash; Windows &ndash;&gt;-->
<!--    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">-->
<!--    <meta name="msapplication-TileColor" content="#2F3BA2">-->

    <link rel="icon" type="image/png" href="/static/images/icons/icon-144x144.png">
</head>
<body>

<!--<nav>-->
<!--    <div class="nav-wrapper red darken-1">-->
<!--        <a href="#" class="brand-logo center">#SPOKOLENIE</a>-->
<!--    </div>-->
<!--</nav>-->

<main class="container">
    <div class="row">
        <div class="col s12">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <div class="nav-wrapper red darken-1">
                        <a href="#" class="brand-logo center">#SPOKOLENIE</a>
                    </div>
                    <span class="card-title">Serwis dla warszawskich seniorów 50+: poznawaj ludzi albo organizuj wydarzenia dla swoich rówieśników.</span>
                    <button class="waves-effect waves-red btn-large" id="button_signup" type="button" name="button_signup">
                        DOŁĄCZ ZA DARMO
                    </button>
                    <button class="waves-effect waves-light btn-large" id="button_signin" type="button" name="button_signin">
                        ZALOGUJ SIĘ
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>
